tempo:
  securityContext:
    runAsNonRoot: true
  traces:
    otlp:
      http:
        enabled: true
      grpc:
        enabled: true
    storage:
      trace:
        backend: local
  persistence:
    enabled: true
    size: 10Gi
service:
  type: ClusterIP
