grafana:
  enabled: false

prometheus:
  prometheusSpec:
    scrapeInterval: "15s"
    additionalScrapeConfigs:
      - job_name: "clinops-app"
        metrics_path: /api/metrics
        scheme: http
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_label_app]
            regex: clinops-app
            action: keep

alertmanager:
  alertmanagerSpec:
    replicas: 1
  config:
    route:
      receiver: default
      group_by: ['alertname']
      group_wait: 10s
      group_interval: 5m
      repeat_interval: 4h
    receivers:
      - name: default
        slack_configs:
          - api_url: ${SLACK_WEBHOOK_URL}
            send_resolved: true
            channel: "#alerts"
            text: |
              *Alert:* {{ .CommonAnnotations.summary }}\n*Details:* {{ .CommonAnnotations.description }}
        email_configs:
          - to: ${ALERT_EMAIL_TO}
            from: ${ALERT_EMAIL_FROM}
            smarthost: ${SMTP_HOST}:${SMTP_PORT}
            auth_username: ${SMTP_USER}
            auth_password: ${SMTP_PASS}
