apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: observability
  labels:
    grafana_datasource: "1"
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://kube-prometheus-stack-prometheus.observability.svc:9090
        isDefault: true
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.observability.svc:3100
      - name: Tempo
        type: tempo
        access: proxy
        url: http://tempo.observability.svc:3100
        jsonData:
          tracesToLogs:
            datasourceUid: Loki
            tags: ["job", "instance", "service.name"]
          tracesToMetrics:
            datasourceUid: Prometheus
          serviceMap:
            datasourceUid: Prometheus
